.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
  width: 100%;
  height: 100vh;
}
.detailHeader {
  width: 60%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.detailHeader button {
  cursor: pointer;
  border: none;
  color: white;
  font-size: 50px;
  background-color: gray;
}
.basket {
  width: 100px;
  height: 50px;
  cursor: pointer;

  background-color: gray;
  color: white;
  font-size: 50px;
  position: relative;
}
.basket p {
  width: 15px;
  height: 15px;
  color: orange;
  font-size: 15px;
  position: absolute;
  right: 13px;
  top: 2px;
}
.detailProduct {
  width: 500px;
  height: 550px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.detailProduct p {
  width: 60%;
}
