.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
  width: 100%;
  height: 100vh;
  position: relative;
}

.basket {
  width: 100px;
  height: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid gray;
  border-radius: 50%;
  color: white;
  font-size: 50px;
  position: absolute;
  top: 290px;
  left: 1300px;
}
.basket i:hover {
  color: gray;
}
.basketLenght {
  width: 15px;
  height: 15px;
  color: orange;
  font-size: 15px;
  position: absolute;
  right: 15px;
  top: 12px;
}

.detailProduct {
  width: 900px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.detailProduct div {
  width: 50%;
  height: 100%;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.detailProduct div img {
  width: 350px;
  height: 300px;
}
.detailProduct p {
  width: 60%;
}
.detailProduct button {
  padding: 10px;
  width: 250px;
  cursor: pointer;
  border: 1px solid gray;
}
.detailProduct button:hover {
  background-color: lightgray;
}
