* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
footer {
  width: 100%;
  height: 100px;
  background-color: var(--productBg);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
}
footer div {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
footer .icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  font-size: 30px;
  color: var(--dark);
}
footer .icons p:hover {
  color: gray;
  cursor: pointer;
}
