* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}

.topSale {
  width: 100%;
  height: 160px;
  display: flex;
  background-color: var(--dark);
  font-size: 40px;
  align-items: center;
  position: relative;

  justify-content: space-between;
}
.topSale h1 {
  padding: 10px;
  cursor: pointer;
  background-color: var(--productBg);
  transition: all 0.4s;
  color: var(--dark);
  width: 600px;

  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.topSale h1:hover {
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
}

.headerIcons {
  display: flex;
  width: 20%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  color: var(--light);
  font-weight: bold;
}

.headerIcons i:hover {
  color: gray;
  cursor: pointer;
}
.basketLenght {
  width: 10px;
  height: 10px;
  color: orange;
  font-size: 15px;
  position: absolute;
  right: 18px;
  top: 50px;
}
