.topSale {
    width: 100%;
    height: 200px;
    display: flex;
    color: white;
    background-image: url(/src/images/header-bg.png);
    font-size: 40px;
  
    align-items: center;
    position: relative;
  
    justify-content: space-evenly;
  }
  .topSale h1 {
    background-color: black;
    width: 400px;
    padding: 10px;
    cursor: pointer;
  }
  .topSale h1:hover {
    color: gray;
  }