* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 233, 233);
  width: 100%;
}
.topSale {
  width: 100%;
  height: 200px;
  color: gray;
  background-color: white;
}

/*-------------------------------------*/
.category {
  width: 80%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.category div {
  width: 15%;
  height: 50px;
  border: 1px solid gray;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 15px;
}
.category div:hover {
  color: gray;
}

/*-----------------------------------------*/
.newProducts {
  width: 80%;
  height: 80%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.bestSale {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.bestSale div {
  width: 30%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  margin: 5px;
}
.bestSale div img {
  width: 100px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.bestSale div img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.bestSale div h5 {
  width: 100px;
  cursor: pointer;
}
.bestSale div h5:hover {
  color: gray;
}
.bestSale div button {
  width: 100px;
}

/*------------------------------*/
