* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
}
:root {
  /* --bg: rgb(13, 13, 13); */
  --dark: #27374d;
  --light: #dde6ed;
  --productBg: white;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light);

  overflow-x: hidden;
  height: 1250px;
  width: 100%;
}

/*-------------------------------------*/
.category {
  width: 80%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.category div {
  width: 10%;
  height: 150px;
  border: 1px solid gray;
  color: var(--dark);
  background-color: var(--productBg);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  font-size: 40px;
  margin: 5px;
}
.category div:hover {
  color: gray;
}

/*-----------------------------------------*/
.newProducts {
  width: 80%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.bestSale {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.bestSale div {
  width: 220px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--productBg);
  margin: 5px;
  border-radius: 10px;
  margin-top: 20px;
  transition: all 0.3s;
  cursor: pointer;
}
.bestSale div:hover {
  box-shadow: 0px 2px 2px 2px var(--dark);
}
.bestSale div img {
  width: 120px;
  transition: all 0.3s;
}
.bestSale div img:hover {
  transform: scale(1.1);
}
.bestSale div h5 {
  width: 100px;
  cursor: pointer;
  font-size: 10px;
}
.bestSale div h5:hover {
  color: gray;
}
.bestSale div button {
  width: 100px;
  background-color: white;
  padding: 5px;
  border: none;
  border-bottom: 1px solid gray;
}
