* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(236, 233, 233);
  width: 100%;
  height: 100vh;
}
.topSale {
  width: 80%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.topSale img {
  width: 50%;
  height: 100%;
  background-size: cover;
}
.topSaleDetail {
  width: 50%;
}

/*-------------------------------------*/
.category {
  width: 80%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category div {
  width: 5%;
  height: 50px;
  border: 1px solid gray;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 15px;
}
.category div:hover {
  color: gray;
}

/*-----------------------------------------*/
.newProducts {
  width: 80%;
  height: 100%;
  background-color: aquamarine;
}
