.products {
  display: flex;
  padding: 5%;
  flex-direction: column;
  align-items: center;
}
.searchBar {
  width: 100%;
  height: 100px;
  background-color: gray;

  display: flex;
  align-items: center;
  justify-content: center;
}
.searchBar input {
  width: 500px;
  padding: 5px;
  margin: 10px;
}
.searchBar button {
  padding: 5px;
}
main {
  width: 100%;
  display: flex;
}
.productsList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  border-left: 1px solid gray;
}
.product {
  width: 300px;
  height: 500px;

  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid gray;
}
.product img {
  width: 80%;
  height: 45%;
  background-size: cover;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.product img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.product h3 {
  width: 60%;
  cursor: pointer;
}
.product h3:hover {
  color: gray;
}

/*---------------------------------*/
.filter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 500px;
  border-right: 1px solid gray;
}
.filter button {
  margin: 5px;
  width: 100px;
}

/*----------------------------------------*/
.smallBasket {
  width: 100px;
  height: 70px;
  position: fixed;
  right: 100px;
  top: 90px;
  background-color: white;
  border: 2px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.smallBasket p {
  cursor: pointer;
  font-size: 20px;
}
